@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.wrapper .top_nav{
    width: 100%;
    height: 65px;
    background: #061e59;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .wrapper .top_nav .left{
    display: flex;
    align-items: center;
  }
  
  .wrapper .top_nav .left .logo p{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    font-family: "Mountains of Christmas", cursive;
    margin-right: 25px;
  }
  
  .wrapper .top_nav .right ul{
    display: flex;
  }
  
  .wrapper .top_nav .right ul li{
    margin: 0 12px;
  }
  
  .wrapper .top_nav .right ul li a{
    display: block;
    padding: 8px 10px;
    color: #fff;
  }
  
  .wrapper .top_nav .right ul li:last-child a{
     color: #fff;
  }

.logo {
  width: 100px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.multi_color_border {
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    #1651e5 0%,
    #4680eb 25%,
    #fff 25%,
    #fff 50%,
    #1651e5 50%,
    #4680eb 75%,
    #fff 75%,
    #fff 100%
  );
}


.wrapper .bottom_nav{
    width: 100%;
    background: #008ecf;
    height: 45px;
    padding: 0 50px;
  }
  
  .wrapper .bottom_nav ul{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .wrapper .bottom_nav ul li a{
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .wrapper .banner img{
    width: 100%;
    height: 400px;
  }