/* App.css */
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow-y: auto;
}